@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #ede7dd;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.video-wrapper {
  -webkit-mask-image: url(/video_vector.svg);
  -webkit-mask-size: contain;
  -webkit-mask-position: center center;
  -webkit-mask-repeat: no-repeat;
}
